.header {
  height: 60px;
  margin-bottom: 30px;
  background: var(--primary);
  color: #fff;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: inherit;
  }

  &__social {
    font-size: 2em;
  }
}
